Repository openshift/openshift-restclient-java, pull requests merged in 2019-10, with the labels that each got.

#401 impl'd capability to retrieve console url (#400)
  pom.xml
  src/main/java/com/openshift/internal/restclient/DefaultClient.java
  src/main/java/com/openshift/internal/restclient/KubernetesVersion.java
  src/main/java/com/openshift/internal/restclient/OpenShiftMajorVersion.java
  src/main/java/com/openshift/internal/restclient/capability/CapabilityInitializer.java
  src/main/java/com/openshift/internal/restclient/capability/server/Console.java
  src/main/java/com/openshift/internal/restclient/model/volume/PersistentVolumeClaim.java
  src/main/java/com/openshift/restclient/IClient.java
  src/main/java/com/openshift/restclient/capability/server/IConsole.java
  src/test/java/com/openshift/internal/restclient/DefaultClientIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/IntegrationTestHelper.java
  src/test/java/com/openshift/internal/restclient/KubernetesVersionTest.java
  src/test/java/com/openshift/internal/restclient/OpenShiftVersionTest.java
  src/test/java/com/openshift/internal/restclient/capability/server/ConsoleIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/capability/server/DataPair.java
  src/test/java/com/openshift/internal/restclient/capability/server/OpenShift3ConsoleTest.java
  src/test/java/com/openshift/internal/restclient/capability/server/OpenShift4ConsoleTest.java
  src/test/java/com/openshift/restclient/utils/Samples.java
  src/test/resources/samples/openshift3/v1_config_map_console_public.json
Labels: ok-to-test, size/XXL

#402 Test running ITs on Travis
  .travis.yml
  startOCP.sh
Labels: lgtm, ok-to-test, size/S

#406 fixing travis build by switching to openjdk
  .travis.yml
Labels: lgtm, size/XS

#404 Allow connecting to OpenShift 4.2 (#403)
  src/main/java/com/openshift/internal/restclient/ApiTypeMapper.java
  src/main/java/com/openshift/internal/restclient/DefaultClient.java
  src/main/java/com/openshift/internal/restclient/ResourceFactory.java
  src/main/java/com/openshift/internal/restclient/api/capabilities/PodExec.java
  src/main/java/com/openshift/internal/restclient/capability/resources/PodLogRetrievalAsync.java
  src/main/java/com/openshift/internal/restclient/model/Secret.java
  src/main/java/com/openshift/internal/restclient/okhttp/AuthenticatorInterceptor.java
  src/main/java/com/openshift/internal/restclient/okhttp/BasicChallengeHandler.java
  src/main/java/com/openshift/internal/restclient/okhttp/IChallengeHandler.java
  src/main/java/com/openshift/internal/restclient/okhttp/OpenShiftAuthenticator.java
  src/main/java/com/openshift/internal/restclient/okhttp/OpenShiftRequestBuilder.java
  src/main/java/com/openshift/internal/restclient/okhttp/ResponseCodeInterceptor.java
  src/main/java/com/openshift/internal/restclient/okhttp/WatchClient.java
  src/main/java/com/openshift/restclient/ClientBuilder.java
  src/main/java/com/openshift/restclient/authorization/UnauthorizedException.java
  src/main/java/com/openshift/restclient/http/IHttpConstants.java
  src/test/java/com/openshift/internal/restclient/DefaultClientIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/DefaultClientTest.java
  src/test/java/com/openshift/internal/restclient/TypeMapperFixture.java
  src/test/java/com/openshift/internal/restclient/model/build/BuildConfigBuilderTest.java
  src/test/java/com/openshift/internal/restclient/okhttp/BasicChallangeHandlerTest.java
  src/test/resources/openshiftv3IntegrationTest.properties
Labels: lgtm, ok-to-test, size/XL

#408 Allowed ITs to run against OS 3/4 online variants (#407)
  pom.xml
  src/main/java/com/openshift/restclient/IClient.java
  src/main/java/com/openshift/restclient/model/IEvent.java
  src/main/java/com/openshift/restclient/model/ILimitRange.java
  src/main/java/com/openshift/restclient/model/IReplicationController.java
  src/main/java/com/openshift/restclient/model/IResourceQuota.java
  src/test/java/com/openshift/internal/restclient/DefaultClientConstructionTest.java
  src/test/java/com/openshift/internal/restclient/DefaultClientFilterIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/DefaultClientIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/DefaultClientTest.java
  src/test/java/com/openshift/internal/restclient/IntegrationTestHelper.java
  src/test/java/com/openshift/internal/restclient/KubernetesVersionTest.java
  src/test/java/com/openshift/internal/restclient/OpenShiftVersionTest.java
  src/test/java/com/openshift/internal/restclient/ResourceFactoryTest.java
  src/test/java/com/openshift/internal/restclient/TypeMapperFixture.java
  src/test/java/com/openshift/internal/restclient/api/capabilities/PodExecIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/api/capabilities/PodExecTest.java
  src/test/java/com/openshift/internal/restclient/authorization/AuthorizationKindsIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/AnnotationCapabilityTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/BuildCapabilitiesIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/DeployCapabilityTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/DeploymentConfigTraceabilityTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/DeploymentTraceabilityTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/ImageStreamImportCapabilityTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/OpenShiftBinaryPortForwardingIntegrationTest2.java
  src/test/java/com/openshift/internal/restclient/capability/resources/OpenShiftBinaryPortForwardingTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/OpenShiftBinaryRSyncTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/OpenshiftBinaryPodLogRetrievalIntegrationTest2.java
  src/test/java/com/openshift/internal/restclient/capability/resources/OpenshiftBinaryRSyncRetrievalIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/PodLogRetrievalAsyncIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/capability/resources/ProjectTemplateProcessingTest.java
  src/test/java/com/openshift/internal/restclient/capability/server/ConsoleIntegrationTest.java
  src/test/java/com/openshift/internal/restclient/capability/server/OpenShift3ConsoleTest.java
  src/test/java/com/openshift/internal/restclient/capability/server/OpenShift4ConsoleTest.java
  src/test/java/com/openshift/internal/restclient/model/KubernetesResourceTest.java
  src/test/java/com/openshift/internal/restclient/model/ProjectTest.java
  src/test/java/com/openshift/internal/restclient/model/template/ParameterTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/BuildConfigTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/ConfigMapTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/DeploymentConfigTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/EndpointsTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/EnvironmentVariableTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/PVCTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/PipelineBuildConfigTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/PodTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/ReplicationControllerTest.java
  src/test/java/com/openshift/internal/restclient/model/v1/SecretTest.java
  src/test/java/com/openshift/internal/restclient/okhttp/WatchClientTest.java
  src/test/java/com/openshift/restclient/WatchClientIntegrationTest.java
Labels: lgtm, ok-to-test, size/L

#410 bumped to 8.1.0.Final
  pom.xml
Labels: lgtm, ok-to-test, size/XS
